@charset "utf-8";
@import url("fonts.css");
@import url("normalize.css");
@import url("reset.css");

/* 모든 디바이스에 적용 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 숨김 콘텐츠 */
legend, .readable-hidden{
  background: yellowgreen;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}
/* 링크 스타일 */
a{
  text-decoration: none;
  color: inherit;
}
/* 콘텐츠 영역별 배경색 */
.slogan{
  background: skyblue;
}
.footer{
  background: yellow;
}
/* 반응형 콘텐츠 */
.rwd{
  max-width: 100%; 
  height: auto;
}
/* 기본 스타일 */
body{
  color:#181818;
  background: #fff;
  font-size: 1.4rem;
  font-family: "Noto Sans Regular";
  line-height: 1.15;
}
/* 메인 콘텐츠 섹션 제목 공통 */
.main-heading{
  font-family: "Noto Sans Bold";
  font-size: 1.6rem;
  height: 60px;
  background: url(images/sprite_main.png)no-repeat;
  padding-left: 65px;
}
.news-heading{
  background-position: 0 -230px;
}
.board-heading{
  background-position: 0 -115px;
}
.favorite-heading{
  background-position: 0 -345px;
}
.twitter-heading{
  background-position: 0 -460px;
}
.en-heading{
  display: block;
}
.book-heading .en-heading{
  color: #abd375;
}
.news-heading .en-heading{
  color: #e8ca58;
}
.board-heading .en-heading{
  color: #c7b39a;
}
.favorite-heading .en-heading{
  color: #eea60a;
}
.twitter-heading .en-heading{
  color: #6aaee6;
}
/* 메인 콘텐츠 단락 공통 */
[class$="-summary"]{
  line-height: 1.5;
}
[class*="-date"]{
  display: block;
  text-align: right;
  margin-top: 15px;
}
/* 추천 서적 공통 */
.book-cover{
  width:70%;
  margin: 15px auto;
  text-align: center;
}
.book-detail{
  text-align: center;
  margin: 15px 0; 
}
.book-author, .book-author-name{
  display: inline-block;
}
.book-grade{
  font-size: 2rem;
  color: #abd375;
}
/* 새소식 공통 */
.video-container{
  margin:  15px auto;
}
/* 게시판 공통 */
.board{
  position: relative;
}
.board-list{
  margin-top: 15px;
}
.board-list li{
  margin-top: 10px;
  display: flex;
}
.board-list a{
  width: calc(100% - 7em);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.board-list time{
  white-space: nowrap;
  margin-left: auto;
}
.more{
  position: absolute;
  top: 0;
  right: -5px;
  padding: 5px;
}
.more.icon-plus::before{
  color: hsla(110, 50%, 50%, 1);
}
/* 인기사이트 공통 */
.favorite-list{
  margin: 15px 0 0 10px;
  overflow: hidden;
  counter-reset: 0;
}
.favorite-list li{
  margin-top: 10px;
  counter-increment: number;
  line-height: 1.5;
}
.favorite-list li::before{
  content: counter(number);
  background: #eea60a;
  color:#fff;
  padding: 1px 9px;
  margin-right: 5px;
  border-radius: 50%;
}
/* 트위터 공통 */
.twitter-author{
  position: relative;
  margin-top: 15px;
  
}
.twitter-author-heading,.twitter-summary{
  padding-right: 25%;
}
.twitter-author-name{
  color: #6aaee6;
}
.twitter-author-id{
  font-family: "Noto Sans Bold"
}
.twitter-profile{
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  border-radius: 50%;
  border:1px solid #000;
  padding: 5px;
}
.twitter-summary{
  margin-top: 15px;
}


/* 모바일 스타일 */
@media screen and (max-width: 999px){
  html{
    font-size:10px;
  }
  /* 모바일 레이아웃 */
  .main, .slogan, .footer{
    width: 100%;
    padding: 0 20px;
  }
  /* 모바일 헤더 */
  .header{
    display: flex;
    flex-direction: column;
    background: #38302e;
    padding: 0 0 15px 0;
  }
  /* 모바일 로고 */
  .logo{
    padding: 0 20px;
    margin: 15px 0;
  }
  /* 모바일 멤버 링크 */
  .member{
    background: #988574;
    order:-1;
    display: flex;
    justify-content: flex-end;
    padding: 2px 10px 2px 20px;
  }
  .member a{
    display: block;
    color:#fff;
    padding: 8px 10px;
    transition: all 0.4s;
    white-space: nowrap;
  }
  .member a:hover, .member a:focus{
    color: #38302e;
  }
  /* 모바일 검색 폼 */
  .search{
    padding: 0 20px;
  }
  input[type="search"]{
    width: calc(100% - 40px);
    height: 30px;
    border:1px solid #aaa;
    border-radius: 5px;
    padding-left: 1em;
    margin-right: 5px;
  }
  .btn-search{
    width: 30px;
    height: 30px;
    border:0;
    padding:0;
    background: transparent;
    position: relative;
  }
  .btn-search::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background: url(images/btn_search.png)no-repeat 50%/100% scroll;
    cursor: pointer;
  }
  /* 모바일 메인메뉴 제어 버튼 */
  .btn-menubar{
    position: absolute;
    top: 5em;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
  }
  .menubar{
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    background: #fff;
    transition: all 0.2s;
  }
  .menubar-top{
    top:0;
  }
  .menu-act .menubar-top{
    top:50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .menubar-middle{
    top:50%;
    transform: translateY(-50%);
  }
  .menu-act .menubar-middle{
    transform: translate(-100%, -50%);
  }
  .menubar-bottom{
    top:100%;
    transform: translateY(-100%);
  }
  .menu-act .menubar-bottom{
    top:50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  /* 모바일 메인메뉴 */
  .menu{
    background: rgba(0,0,0,0.9);
    color:#fff;
    position: fixed;
    top:0;
    left: 0;
    width: 70vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.4s;
    padding: 2em;
  }
  .menu-act .menu{
    transform: translateX(0);
  }
  .menu-item{
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
  }
  .sub-menu{
    display: none;
  }
  .sub-menu-show{
    display: block;
    margin: 10px 0 15px 10px;
  }
  /* 모바일 메인콘텐츠 */
  .main{
  }
  .book, .news, .board, .favorite, .twitter{
    margin: 1em 0;
  }
  /* 모바일 메인 콘텐츠 섹션 제목 */
  /* .main-heading{
    height: 3em;
    background-color: blue;
    background-size: 3em 3em;
  } */
  /* 모바일 슬로건 */
  .slogan{
    height: 10vh;
  }
  /* 모바일 푸터 */
  .footer{
    height: 10vh;
  }
}/* end  */

 /* 데스크탑 스타일 */
@media screen and (min-width: 1000px){
  html{
    font-size: 12px;
  }
  /* 데스크탑 레이아웃 */
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: stretch; */
  }
  .header,.main,.slogan{
    width: 1000px;
  }
  .navigation,.footer{
    width: 100%;
  }
  /* 데스크탑 헤더 */
  .header{
    position: relative;
    padding-bottom: 15px;
  }
  /* 데스크탑 로고 */
  .logo{
    position: absolute;
    width: calc((3 * 65  + 2 * 20) / 1000 * 100%);
    height: 100%;
  }
  .logo a{
    position: absolute;
    width: 204px;
    height: 59px;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  /* 데스크탑 안내링크 */
  .member{
    text-align: right;
    font-size: 0;
    padding: 2px 0;
    margin-right: -10px;
  }
  .member li{
    display: inline-block;
    font-size: 1.4rem;
  }
  .bar::before{
    content: "|";
    margin:0 1px;
  }
  .member a{
    padding: 8px 9px;
    display: inline-block;
  }
  /* 데스크탑 검색 */
  .search{
    text-align: right;
  }
  input[type="search"]{
    width: 400px;
    height: 35px;
    border:1px solid #aaa;
    border-radius: 5px;
    padding-left: 1.1em;
  }
  .btn-search{
    border:1px solid #aaa;
    border-radius: 5px;
    background: #988574;
    color:#fff;
    padding:0 15px;
    height: 35px;
  }
  /* 데스크탑 내비게이션 */
  .navigation{
    background: #988574;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
    /* box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.5), 0 2px 2px 0 rgba(0,0,0,0.5); */
  }
  /* 메인 메뉴 */
  .menu{
    width: 1000px;
    margin: 15px auto;
    color:#fff;
    display: flex;
    justify-content: space-between;
  }
  .menu-item{
    font-family: 'Noto Sans Bold';
    font-size: 1.5rem;
    text-shadow: 0px 1px 0 #000, 0px -1px 0 #000, 1px 0 0 #000, -1px 0 0 #000;
  }
  .sub-menu{
    margin: 15px 0 0 15px;
  }
  .sub-menu a{
    display: block;
    padding: 5px;
    transition: all 0.4s;
  }
  .sub-menu a:hover,.sub-menu a:focus{
    color: #38302e;
  }
  /* 데스크탑 메인 메뉴 제어 버튼 */
  .btn-menubar{
    display: none;
  }
  /* 데스크탑 메인 콘텐츠 */
  .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .book, .news, .board, .favorite, .twitter{
    margin-top: 20px;
  }
  /* 데스크탑 추천서적 */
  .book{
    /* width: 320px; */
    width: 32%;
    /* width: calc((5 * 65 + 4 * 20) / 1000 * 100%); */
  }
  /* 데스크탑 새소식 */
  .news{
    /* width: 660px; */
    width: 66%;
    /* width: calc((7 * 65 + 6 * 20) / 1000 * 100%); */
  }
  /* 데스크탑 게시판 */
  .board{
    /* width: 320px; */
    width: 32%;
  }
  /* 데스크탑 인기사이트 */
  .favorite{
    /* width: 235px; */
    width: 23.5%;
    order:1;
  }
  /* 데스크탑 트위터 */
  .twitter{
    /* width: 405px; */
    width: 40.5%;
  }
  /* 데스크탑 슬로건 */
  .slogan{
    height: 15vh;
  }
  /* 데스크탑 푸터 */
  .footer{
    height: 15vh;
  }
  
}/* end  */